.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  width: 120px;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  outline: none;
}

.form-button {
  background-color: #0d60dd; /* Green */
  border: none;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.form-button:disabled { 
  cursor: not-allowed;
}

.controllers {
  display: flex;
  align-items: center;
  gap: 20px;
}

.progressbar {
  margin-top: 30px;
  text-align: center;
  color: black;
  width: 100%;
  height:40px;
  border-radius: 20px;
  background-color: #f1f1f1;
  overflow: hidden;
}

.progressbar-thumb {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.bg-gray{
  background-color: #f1f1f1;
}

.bg-blue{
  background-color: #1bc1ef;
}
